.pokedex {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/Backgrounds/SL-090119-22970-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.collection{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.filters {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list {
    height: 80%;
}
.abas {
    width: 100%;
    height: 10%;
    display: flex;
    color: #2b2b2b;
}
.seus,
.all {
    width: 50%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.activeAba{
    background-color: #ffffff69;
    cursor: inherit;
}


.Search {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search input {
    width: 550px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #ffffff69;
    padding-left: 20px;
    font-weight: bold;
}
.Search input::placeholder{
    color: #2b2b2b;
}
.filter {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.select{
    padding: 0 20px;
    height: 100%;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
  }

.f-types,
.f-Region,
.f-generations {
    height: 30px;

}

.options {
    width: 100%;
    padding: 2px;
    margin: 0;
    position: relative;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: #ffffff69;
    border-radius: 10px;
}
.options li{
    width: 90%;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3E2D25;
  }
  .options li:hover{
    background-color: #929292;
  }

.show {
    display: flex;
    z-index: 10;
}


.fire {
    background-color: #FF9C54;
}

.water {
    background-color: #4D90D5;
}

.grass {
    background-color: #63BB5B;
}

.bug {
    background-color: #90C12C;
}

.electric {
    background-color: #F3D23B;
}

.ice {
    background-color: #9EE5FD;
}

.normal {
    background-color: #C5C2BB;
}

.psychic {
    background-color: #E8497F;
}

.fairy {
    background-color: #F2AFF2;
}

.flying {
    background-color: #98A9F2;
}

.rock {
    background-color: #BCA45C;
}

.ground {
    background-color: #D3B25A;
}

.poison {
    background-color: #934392;
}

.dark {
    background-color: #3E2D25;
}

.ghost {
    background-color: #6060AF;
}

.steel {
    background-color: #B5B5C4;
}

.dragon {
    background-color: #7761E4;
}

.fighting {
    background-color: #80351A;
}

.type,
.Generations,
.Gen,
.Region {
    background-color: #ffffff69;
    color: #2b2b2b;
}



@media (max-width: 768px) {
    .Search input{
        width: 90%;
    }
}



.pokedex .cards{
    padding: 20px 0;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    min-height: 515px;
    height: 100%;
    gap: 20px;
    background-color: #ffffff69;
}

.loading{
    padding: 20px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}