.fire {
    background-color: #FF9C54;
}

.water {
    background-color: #4D90D5;
}

.grass {
    background-color: #63BB5B;
}

.bug {
    background-color: #90C12C;
}

.electric {
    background-color: #F3D23B;
}

.ice {
    background-color: #9EE5FD;
}

.normal {
    background-color: #C5C2BB;
}

.psychic {
    background-color: #E8497F;
}

.fairy {
    background-color: #F2AFF2;
}

.flying {
    background-color: #98A9F2;
}

.rock {
    background-color: #BCA45C;
}

.ground {
    background-color: #D3B25A;
}

.poison {
    background-color: #934392;
}

.dark {
    background-color: #3E2D25;
}

.ghost {
    background-color: #6060AF;
}

.steel {
    background-color: #B5B5C4;
}

.dragon {
    background-color: #7761E4;
}

.fighting {
    background-color: #80351A;
}

.type,
.Generations,
.Gen,
.Region {
    background-color: #ffffff69;
    color: #2b2b2b;
}



@media (max-width: 768px) {
    .Search input{
        width: 90%;
    }
}














.cards{
    padding: 20px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;

    gap: 20px;
    background-color: #ffffff69;
}
.backcard{
    width: 184px;
    height: 284px;
    box-shadow: 2px 6px 18px 0px #393a3a;
    border-radius: 15px;
}
.backcard img{
    width: 180px;
    height: 280px;
    border-radius: 15px;
    border: 4px solid #707070;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 284px;
    perspective: 1000px;
    background-color: #49a9d6;
    color: #fff;
    border-radius: 15px;
    box-shadow: 2px 6px 18px 0px #393a3a;
    border: 4px solid #707070;
    transition: 200ms;
    animation: opacity 1s;
}
.card img{
    width: 100%;
    height: 100%;
}
  
.card:hover{
    transform:translateY(-20px);
  }

  .ocult{
    background-color: #393a3a;
  }
  .ocult .img h1{
    margin: auto;
  }
  .ocultImg{
    filter:brightness(0);
  }

  .type1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 43%;
    padding: 1px 0;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #706c6c;
  }
  .num{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #dadada;
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    bottom: 0;
  }
  .card h3{
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
    width: 90%;
    background-color: #1c1c1c;
    font-family: "Slackey", sans-serif;
    font-style: normal;
    border-radius: 10px;
    letter-spacing: 1px;
}


.name{
    width: 100%;
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{
    width: 100%;
    display: flex;
    height: 60%;
}
.types{
    width: 100%;
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #454545;
    gap: 5px;
}
.num{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 10%;
    background-color: #454545;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.duplicate{
    position: absolute;
    bottom: -3px;
    left: 5px;
    border-radius: 10px;
    padding: 5px;

    font-size: 20px;
    text-align: center;
    font-weight: 300;
    color: #bdbdbd;
}