.How {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

.title {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title h3 {
  width: 200px;
  font-family: "Kanit", sans-serif;
  font-style: bold;
  color: #fff;
  font-size: 34px;
  margin: 0;
  text-align: start;
  height: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.title h1 {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c0c0c0;
  font-size: 64px;
  margin: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.cardHow {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.choises {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 130px;
}
.choises ul {
  min-width: 400px;
  width: 60%;
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.choises li {
  background-color: #24242450;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}
.choises li:hover {
  background-color: #242424;
  cursor: pointer;
  transition: 300ms;
}

.errado {
  background-color: #d10000 !important;
  opacity: 0.5;
  cursor: inherit;
}

.alert {
  background-color: #24242450;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
}
